<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Registro de Buses</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <!-- LINK -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"  media="screen"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	
  	<!-- DATATABLE -->
  	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
</head>
<body>

	<div class="header" style="background-color: rgba(135, 135, 135, 0.3);">
            <a href="#" id="menu-action">
              <i class="fa fa-bars"></i>
              <span>Salir</span>
            </a>
            <div class="logo">
                <img class="navbar-logo"  src="../imgs/Logo.png" /> &nbsp;&nbsp;&nbsp;
                <span style="color:black;">Sistema de Transporte Junin</span>
            </div>
          </div>

	   <div class="sidebar">
            <ul>
            	<li><a href="http://localhost:8085/Inicio/principal"><i class="fa fa-home"></i><span>Inicio</span></a></li>
                <li><a href="http://localhost:8085/Viaje/verViaje"><i class="fa fa-plane"></i><span>Viaje</span></a></li>
                <li><a href="http://localhost:8085/Boleto/verBoleto"><i class="fa fa-file"></i><span>Boleto</span></a></li>
                <li><a href="http://localhost:8085/Bus/verBus"><i class="fa fa-car"></i><span>Bus</span></a></li>
                <li><a href="http://localhost:8085/Cliente/verCliente"><i class="far fa-address-card"></i><span>Clientes</span></a></li>
                <li style="background-color:dodgerblue;"><a href="http://localhost:8085/notificarnicio/mostrar"><i class="fa fa-wrench"></i><span>Notificar Averia</span></a></li>
                <li style="background-color:dodgerblue;"><a href="http://localhost:8085/Pendientes/mostrar"><i class="fa fa-car"></i><span>Pendientes</span></a></li>
                <li style="background-color:dodgerblue;"><a href="http://localhost:8085/Mantenimiento/mostrar"><i class="fa fa-car"></i><span>Mantenimiento</span></a></li>
                <li style="background-color:dodgerblue;"><a href="http://localhost:8085/Verificacion/mostrar"><i class="fa fa-car"></i><span>Verificacioon de Bus</span></a></li>
            </ul>
        </div>
        
	<div class="main">
		<table id="tablaClientes" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>PLACA</th>
					<th>MODELO</th>
					<th>AÑO</th>
					<th>COLOR</th>
					<th>NUMERO ASIENTOS</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bus : ${Buses}">
					<th><span th:text="${bus.id}">ID</span></th>
					<th><span th:text="${bus.placa}"></span></th>
					<th><span th:text="${bus.modelo}"></span></th>
					<th><span th:text="${bus.anio}"></span></th>
					<th><span th:text="${bus.color}"></span></th>
					<th><span th:text="${bus.numero_asientos}"></span></th>
				</tr>
			</tbody>
		</table>
			
		<!--  <div class="col d-flex justify-content-center">
			<div class="card">
				<div class="col-sm-6">
				<form action="#" th:action="@{/Bus/addBus}" th:object="${Bus1}" method="post">
					<p>PLACA:   <input type="text" class="form-control"  th:field="*{placa}"></p>
					<p>MODELO: 	<input type="text" class="form-control"  th:field="*{modelo}"></p>
					<p>AÑO:     <input type="text" class="form-control"  th:field="*{anio}"></p>
					<p>COLOR:   <input type="text" class="form-control"  th:field="*{color}"></p>
					<p>NUMERO DE ASIENTOS:   <input type="number" class="form-control"  th:field="*{numero_asientos}"></p>
					<p><input type="submit"  class="btn btn-success" value="ENVIAR"></p>
				</form>
				</div>
			</div>
		</div>-->
		
		
		
		
		<div class="container">
		  <!-- Button to Open the Modal -->
		  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
		    Agregar Bus
		  </button>

		  <!-- The Modal -->
		  <div class="modal fade" id="myModal">
		    <div class="modal-dialog modal-dialog-centered">
		      <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Agregar Bus</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
					<div class="card">
						<div class="col-sm-12">
						<form action="#" th:action="@{/Bus/addBus}" th:object="${Bus1}" method="post">
							<p>PLACA:   <input type="text" class="form-control"  th:field="*{placa}"></p>
							<p>MODELO: 	<input type="text" class="form-control"  th:field="*{modelo}"></p>
							<p>ANIO:     <input type="text" class="form-control"  th:field="*{anio}"></p>
							<p>COLOR:   <input type="text" class="form-control"  th:field="*{color}"></p>
							<p>NUMERO DE ASIENTOS:   <input type="number" class="form-control"  th:field="*{numero_asientos}"></p>
							<!--  
							<input class="btn btn-success" type="button" value="A1">
							<input class="btn btn-success" type="button" value="B1">
							<input class="btn btn-success" type="button" value="C1">
							<input class="btn btn-success" type="button" value="D1">
							<input class="btn btn-success" type="button" value="E1">
							<input class="btn btn-success" type="button" value="F1">
							<input class="btn btn-success" type="button" value="G1">
							<input class="btn btn-success" type="button" value="H1">
							<input class="btn btn-success" type="button" value="I1">
							<input class="btn btn-success" type="button" value="J1">
							<br>
							<input class="btn btn-success" type="button" value="A1">
							<input class="btn btn-success" type="button" value="B1">
							<input class="btn btn-success" type="button" value="C1">
							<input class="btn btn-success" type="button" value="D1">
							<input class="btn btn-success" type="button" value="E1">
							<input class="btn btn-success" type="button" value="F1">
							<input class="btn btn-success" type="button" value="G1">
							<input class="btn btn-success" type="button" value="H1">
							<input class="btn btn-success" type="button" value="I1">
							<input class="btn btn-success" type="button" value="J1">
							<br>
							<label>			PISO 1              </label>
							<br>
							<input class="btn btn-success" type="button" value="A1">
							<input class="btn btn-success" type="button" value="B1">
							<input class="btn btn-success" type="button" value="C1">
							<input class="btn btn-success" type="button" value="D1">
							<input class="btn btn-success" type="button" value="E1">
							<input class="btn btn-success" type="button" value="F1">
							<input class="btn btn-success" type="button" value="G1">
							<input class="btn btn-success" type="button" value="H1">
							<input class="btn btn-success" type="button" value="I1">
							<input class="btn btn-success" type="button" value="J1">
							<br>
							<input class="btn btn-success" type="button" value="A1">
							<input class="btn btn-success" type="button" value="B1">
							<input class="btn btn-success" type="button" value="C1">
							<input class="btn btn-success" type="button" value="D1">
							<input class="btn btn-success" type="button" value="E1">
							<input class="btn btn-success" type="button" value="F1">
							<input class="btn btn-success" type="button" value="G1">
							<input class="btn btn-success" type="button" value="H1">
							<input class="btn btn-success" type="button" value="I1">
							<input class="btn btn-success" type="button" value="J1">
							<br><br>-->
							<p><input type="submit"  class="btn btn-success" value="ENVIAR"></p>
						</form>
						</div>
					</div>
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
		        </div>
		        
		      </div>
		    </div>
		  </div>
		  
		</div>
	</div>	
	
	<script>
		$(document).ready(function() {
		    $('#tablaClientes').DataTable();
		} );
	</script>
</body>
</html>