<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>EDAD</th>
				<th>TELEFONOS</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona : ${personas}">
				 <th><span th:text="${persona.id}">ID</span></th>
				<th><span th:text="${persona.nombre}"></span></th>
				<th><span th:text="${persona.edad}"></span></th>
				<th><span th:text="${persona.telefono}"></span></th>
			</tr>
			<!--  <tr>
				<th>ID</th>
				<th>ID</th>
				<th>ID</th>
				<th>ID</th>
			</tr>-->
		</tbody>
	</table>
	
	
	<form action="#" th:action="@{/inicio/addPersona}" th:object="${persona1}" method="post">
		<p>Nombre: <input type="text" th:field="*{nombre}"></p>
		<p>Edad: <input type="number" th:field="*{edad}"></p>
		<p>Telefono: <input type="text" th:field="*{telefono}"></p>
		<p><input type="submit" value="ENVIAR"></p>
	</form>
</body>
</html>